.testContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0;
}

h1 {
  color: var(--var--light--pink);
}

.questionContainer {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.unlist {
  list-style: none;
}

.li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

input {
  height: 1.5rem;
  width: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submitBtn {
  width: 10rem;
  height: 3rem;
  border: none;
  background-color: var(--var--light--purple);
  transition: 0.8s;
  border-radius: 2rem 0;
}

.submitBtn:hover {
  cursor: pointer;
  transition: 0.8s;
  background-color: var(--var--light--pink);
  box-shadow: 5px 5px 5px var(--var--black);
}
