.testContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: var(--var--light--pink);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.questionContainer {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 100%;
  background: linear-gradient(
    45deg,
    var(--var--dark--pink),
    var(--var--dark--purple)
  );
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgb(255, 188, 231), 0 6px 20px 0 rgb(255, 188, 231);
  border-radius: 8px;
}

.unlist {
  list-style: none;
  padding-left: 0;
  width: 100%; /* Ensure the list takes full width */
}

.li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  width: 100%; /* Ensure the list items take full width */
}

input[type="checkbox"] {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.submitBtn {
  width: 12rem;
  height: 3rem;
  border: none;
  background-color: var(--var--dark--pink);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  border-radius: 2rem;
  margin-top: 2rem;
}

.submitBtn:hover {
  cursor: pointer;
  background-color: var(--var--light--pink);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
