.coursesArea {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1rem;
  grid-row: span;
}

.mainContainer {
  margin: 5rem 2rem;
}
@media screen and (max-width: 900px) {
  h1 {
    margin-left: 1.5rem;
  }
  .coursesArea {
    grid-template-columns: repeat(1, 1fr);
  }
  .mainContainer {
    margin: 5rem 0rem;
  }
}
