.containerSidebar {
  background-color: transparent;
}

.showButton {
  background-color: var(--var--light--purple);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.menuIcon {
  height: 1.5rem;
  width: 1.5rem;
}

.sidebar {
  background-color: var(--var--dark--purple) !important;
}

.courseLink {
  text-decoration: none;
  color: var(--var--white);
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  align-items: center;
}

.courseListItem {
  font-size: large;
  margin-top: 2rem;
}

.listOfCourses {
  margin-top: 4rem;
  list-style-type: none;
}

.iconListItem {
  width: 1.5rem;
  height: 1.5rem;
}

.logo {
  height: 10rem;
  width: 10rem;
}

.logoAppContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.buttonsLogout {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 2rem;
}

.buttonsLogout button {
  width: 7rem;
  height: 3rem;
  background-color: var(--var--light--pink);
  color: var(--var--dark--purple);
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  transition: 0.2s;
}

.buttonsLogout button:hover {
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 5px 5px 5px var(--var--black);
}

.modal {
  background-color: var(--var--light--purple) !important;
}

.logoutButton {
  background-color: var(--var--light--purple);
  border: none;
  color: var(--var--white);
  display: flex;
  gap: 1rem;
  font-size: large;
  transition: 0.5s;
  align-items: center;
  border-radius: 2rem;
  padding: 0.5rem;
}

.logoutButton:hover {
  transition: 0.5s;
  background-color: var(--var--light--pink);
  color: var(--var--dark--purple);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .sidebar {
    width: 100% !important;
  }
  .courseLink,
  .logoutButton {
    font-size: 1.5rem;
  }
}
