.mainContainer {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  height: 3rem;
  width: 10rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  border: none;
  color: var(--var--white);
}

.btnSection {
  display: flex;
  gap: 2rem;
  margin: 2rem;
}

.btnCreate {
  background-color: var(--var--dark--pink);
  transition: 0.5s;
}

.btnCreate:hover {
  background-color: var(--var--light--pink);
  transition: 0.5s;
}

.btnCancel {
  background-color: rgb(116, 44, 44);
  transition: 0.5s;
}

.btnCancel:hover {
  background-color: red;
  transition: 0.5s;
}

.formsContainer {
  padding: 2rem;
}
