.profileMain {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  justify-content: center;
  color: var(--var--white);
  padding: 2rem 0;
}

.profilePic {
  border-radius: 100%;
  height: 7rem;
  width: 7rem;
}

.profileCard {
  background-color: var(--var--light--purple);
  padding: 3rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userCoursesArea {
  background-color: var(--var--light--pink);
  margin: 2rem;
  padding: 2rem;
  color: var(--var--dark--purple);
}

.userCoursesListArea {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.userCoursesCard {
  color: var(--var--white);
  margin: 2rem;
  width: 15rem;
  background-color: var(--var--light--purple);
  padding: 1rem;
}

.noClasses {
  padding: 4rem;
  font-size: 2rem;
}

.link {
  color: var(--var--white);
}

@media screen and (max-width: 950px) {
  .profileCard {
    width: 90%;
    margin: 3rem 0;
  }

  .userCoursesListArea {
    grid-template-columns: repeat(1, 1fr);
  }

  .userCoursesCard {
    margin: 1rem 0;
  }
}
