.mainContainer {
  margin: 5rem 4rem;
}

.btnZone {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 2rem 0;
}

.btn {
  height: 3rem;
  width: 10rem;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 5px 5px 5px var(--var--black);
}

.flexing{
  display: flex;
  gap:2rem;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnCancel {
  background-color: rgb(108, 1, 1);
  color: var(--var--white);
  transition: 0.5s;
  box-shadow: 5px 5px 5px var(--var--black);
}

.btnCancel:hover {
  background-color: rgb(205, 0, 0);
  transition: 0.5s;
}

.btnCreate {
  background-color: var(--var--dark--pink);
  color: var(--var--white);
  transition: 0.5s;
}

.btnCreate:hover {
  background-color: var(--var--light--pink);
  color: var(--var--dark--purple);
  transition: 0.5s;
}

.dataTable {
  margin: 2rem 0;
}

.btnPagination {
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  background-color: var(--var--light--purple);
  color: var(--var--white);
  font-size: 1rem;
  border: none;
  transition: 0.5s;
}

.btnPagination:hover {
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 1px 1px 1px 1px var(--var--light--pink),
    1px 1px 1px 1px var(--var--light--pink);
}

.btnLogout {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 1rem;
  width: 10rem;
  justify-content: center;
  background-color: var(--var--light--purple);
  color: var(--var--white);
  border-radius: 1rem;
  border: none;
  transition: 0.5s;

}

.btnLogout:hover {
  cursor: pointer;
  background-color: var(--var--light--pink);
  color: var(--var--dark--purple);
  transition: 0.5s;
}

.btnLogoutResponse {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 10rem;
  justify-content: center;
  color: var(--var--white);
  border-radius: 1rem;
  border: none;
  transition: 0.5s;
}

.modal{
  min-width: 30rem;
}

.btnLogoutResponse:nth-child(odd) {
  background-color: var(--var--dark--pink);
}
.btnLogoutResponse:nth-child(even) {
  background-color: var(--var--light--purple);
}

.btnLogoutResponse:nth-child(odd):hover {
  background-color: var(--var--dark--purple);
}

.btnLogoutResponse:nth-child(even):hover {
  background-color: var(--var--dark--purple);
}

.btnLogoutResponse:hover {
  cursor: pointer;
}
.zoneOfBtns {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.link {
  text-decoration: none;
}

.paginationZone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin: 1rem 0;
}

.paginationZone span {
  font-size: 1.3rem;
}

.label{
  margin:1rem 0;
}

.field{
  margin:1rem;
}