* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --var--white: rgb(250, 246, 246);
  --var--black: black;
  --var--dark--purple:#3e364a ;
  --var--light--purple: #a492ae;
  --var--dark--pink: #6d5775;
  --var--light--pink: #b1a3bb;
  --var--btn--color:#a088b3;
}
