.mainContainer {
  margin: 4rem;
}

.btnBack {
  width: 3rem;
  height: 3rem;
  background-color: var(--var--dark--purple);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 1.2rem;
  transition: 0.5s;
}

.btnBack:hover {
  cursor: pointer;
  background-color: var(--var--light--pink);
  transition: 0.5s;
}

.containerCharts{
  display: flex;
  justify-content: row;
  width:100%;
  gap:10rem;
  padding: 5rem;
  justify-content: space-between;
  align-items: center;
}

