.mainContainer {
  margin: 4rem;
}

.btnBack {
  width: 3rem;
  height: 3rem;
  background-color: var(--var--light--purple);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 1.2rem;
  transition: 0.5s;
}

.btn {
  height: 3rem;
  width: 10rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  border: none;
  color: var(--var--white);
  cursor: pointer; 
  transition: background-color 0.5s; 
}


.btnBack:hover {
  cursor: pointer;
  background-color: var(--var--light--pink);
  transition: 0.5s;
}

.btnHome:hover {
  background-color: var(--var--light--purple);
}

.btnHome {
  background-color: var(--var--light--pink);
  position: absolute;
  right:2rem;
}

.containerCharts{
  display: flex;
  justify-content: row;
  width:100%;
  gap:10rem;
  padding: 5rem;
  justify-content: space-between;
  align-items: center;
}

