.mainContainer {
  margin: 4rem;
}

.assigment {
  background-color: var(--var--white);
  color: var(--var--dark--purple);
  display: flex;
  padding: 1rem 1rem;
  flex-direction: column;
  gap: 2rem;
}

.assigment h4 {
  margin: 0rem 0rem;
}

.buttonZone {
  display: flex;
  gap: 1rem;
}

.link {
  color: var(--var--white);
}

.iconBtn {
  margin-left: 1rem;
  background-color: transparent;
  border: none;
}

.addIcon {
  background-color: var(--var--light--pink);
  border-radius: 50%;
  border: 1px solid var(--var--white);
  height: 2rem;
  width: 2rem;
  transition: 0.3s;
}

.addIcon:hover {
  background-color: var(--var--dark--purple);
  cursor: pointer;
  transition: 0.3s;
}

.rowPDFS {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.notVisible {
  width: 2rem;
  background-color: aqua;
}

.faTrash {
  background-color: var(--var--dark--purple);
}

.iconBtn:hover {
  cursor: pointer;
}

.icon {
  height: 1rem;
  width: 1rem;
}

.purpleIcon {
  color: var(--var--dark--purple);
}

.requirementRow {
  display: flex;
  align-items: center;
}

.btn {
  height: 3rem;
  width: 15rem;
  display: flex;
  justify-content: space-around;
  background-color: var(--var--light--pink);
  color: var(--var--dark--purple);
  align-items: center;
  font-size: 1rem;
  border-radius: 2rem;
  border: none;
  transition: 0.5s;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--var--dark--pink);
  color: var(--var--white);
  transition: 0.5s;
}

.btnEditTest {
  margin: 2rem 0;
  transition: 0.5s;
  color: var(--var--white);
  background-color: var(--var--dark--pink);
}

.btnEditTest:hover {
  transition: 0.5s;
  background-color: var(--var--light--pink);
}

.btnCreateSection {
  height: 3rem;
  width: 15rem;
  background-color: var(--var--light--pink);
  color: var(--var--dark--purple);
  font-size: 1.2rem;
  margin: 1rem 0;
  border-radius: 1.3rem;
  transition: 0.5s;
  border: none;
}

.btnCreateSection:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: var(--var--dark--purple);
  color: var(--var--white);
}
