.mainContainer {
  margin: 4rem;
}

.cursuriArea {
  background-color: var(--var--dark--purple);
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.imageCourse {
  height: 10rem;
  width: 20rem;
}

.nonUnderline {
  text-decoration: none;
}

.btnModala {
  border: none;
  padding: 1rem;
  width: 5rem;
  border-radius: 20%;
}

.buttonsLogout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.btnModala:nth-child(even) {
  background-color: var(--var--dark--purple);
}

.btnModala:nth-child(even):hover {
  background-color: var(--var--light--purple);
  cursor: pointer;
  transition: 0.5s;
}

.btnModala:nth-child(odd) {
  background-color: var(--var--light--purple);
}
.btnModala:nth-child(odd):hover {
  background-color: var(--var--light--pink);
  cursor: pointer;
  transition: 0.5s;
}

.courseCard {
  background-color: var(--var--white);
  color: var(--var--dark--purple);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}

.btnCreateZone {
  display: flex;
  justify-content: flex-end;
}

.btnCreate {
  display: flex;
  align-items: center;
  height: 3rem;
  padding: 1rem;
  width: 10rem;
  justify-content: center;
  background-color: var(--var--btn--color);
  color: var(--var--dark--purple);
  border-radius: 1rem;
  border: none;
  transition: 0.5s;
}

.btnCreate:hover {
  cursor: pointer;
  background-color: var(--var--light--pink);
  color: var(--var--dark--purple);
  transition: 0.5s;
}

.link {
  color: var(--var--dark--purple);
}

.zoneOfBtns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .cursuriArea {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }

  .courseCard {
    width: 15rem;
  }

  .mainContainer {
    margin: 4rem 1rem;
  }

  .imageCourse {
    height: 7rem;
    width: 15rem;
  }
}
