.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 3rem;
  top:30%;
  left:30%;
  padding: 2rem;
  min-width: 50rem;
  box-shadow: pink 0px 8px 14px, pink 0px 14px 26px, pink 0px 14px 60px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.formRow {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
}

input {
  width: 15rem;
  background-color: var(--var--white);
  height: 2rem;
  color: var(--var--dark--purple);
  padding: 0.5rem;
  border-radius: 1rem;
}

.btn {
  height: 3rem;
  width: 15rem;
  display: flex;
  justify-content: space-around;
  background-color: var(--var--light--pink);
  color: var(--var--dark--purple);
  align-items: center;
  font-size: 1rem;
  border-radius: 2rem;
  border: none;
  transition: 0.5s;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--var--dark--pink);
  color: var(--var--white);
  transition: 0.5s;
}

.btnSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.icon {
  height: 1rem;
  width: 1rem;
}

.btnCancel {
  background-color: brown;
  color: var(--var--white);

  width: 10rem;
  transition: 0.5s;
}

.btnCreate {
  width: 10rem;
  background-color: var(--var--dark--pink);
  color: var(--var--white);
  transition: 0.5s;
}

.btnCancel:hover {
  background-color: rgb(255, 0, 0);
  transition: 0.5s;
}

.btnCreate:hover {
  background-color: var(--var--light--pink);
  color: var(--var--dark--purple);
  transition: 0.5s;
}

.sectionBtns {
  display: flex;
  gap: 2rem;
}

.link {
  text-decoration: none;
}
