.mainContainer {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.btn {
  height: 3rem;
  width: 10rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  border: none;
  color: var(--var--white);
  cursor: pointer; 
  transition: background-color 0.5s; 
}

.btnSection {
  display: flex;
  gap: 2rem;
  margin: 2rem;
}

.btnCreate {
  background-color: var(--var--dark--pink);
}

.btnCreate:hover {
  background-color: var(--var--light--pink);
}

.btnCancel {
  background-color: rgb(116, 44, 44);
}

.btn {
  height: 3rem;
  width: 10rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  border: none;
  color: var(--var--white);
  cursor: pointer; 
  transition: background-color 0.5s; 
}

.btnHome:hover {
  background-color: var(--var--light--purple);
}

.btnHome {
  background-color: var(--var--light--pink);
  position: absolute;
  right:2rem;
}
.btnCancel:hover {
  background-color: red;
}


.formsContainer {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.15); /* Slightly more opaque background */
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  gap:3rem;
}

