.formRow {
  display: flex;
  flex-direction: column;
}

.questionSection {
  margin: 1rem 0;
  border-radius: 2rem;
  padding: 3rem;
}

input {
  border: none;
  margin-top: 0.3rem;
  width: 20rem;
}

.variantaContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconX {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0 1rem;
}

.check {
  width: 2rem;
}

.intro {
  margin: 0.5rem 0 0 0;
}

.inputVarianta {
  border-radius: 0rem;
}

.questionSection {
  margin: 1rem 0;
  border-radius: 2rem;
  padding: 3rem;
}

.questionSection:nth-child(odd) {
  background-color: var(--var--dark--pink);
}

.questionSection:nth-child(even) {
  background-color: var(--var--dark--purple);
}

@media screen and (max-width: 900px) {
  .questionSection {
    padding: 1rem;
  }
}
