.btnBack {
  border-radius: 50%;
  padding: 1rem;
  border: none;
  width: 3rem;
  height: 3rem;
  background-color: var(--var--dark--pink);
  transition: 0.3s;
}

.btnBack:hover{
  cursor: pointer;
  background-color: var(--var--light--purple);
  transition: 0.3s;
}

.btnZone {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 1rem;
}

.mainContainer {
  padding: 2rem;
}

.btnZoneRequest {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btnRequest {
  border: none;
  border-radius: 50%;
  padding: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.btnRequest:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

.btnZoneModal {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 10%;
  min-width: 5rem;
  border: none;
  font-size: 1rem;
}

.acceptBtn {
  background-color: rgb(37, 172, 37);
}

.declineBtn {
  background-color: red;
}

.btnRequest:nth-child(odd) {
  background-color: rgb(73, 187, 75);
}

.btnRequest:nth-child(even) {
  background-color: red;
}

.btnPagination {
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  background-color: var(--var--dark--purple);
  color: var(--var--white);
  font-size: 1rem;
  border: none;
  transition: 0.5s;
}

.btnPagination:hover {
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.paginationZone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin: 1rem 0;
}

.paginationZone span {
  font-size: 1.3rem;
}
